/* Empty. Add your own CSS if you like */
.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
}

.product-price-before {
    text-decoration: line-through;
    font-size: 12px;
}

.product-price-after {
    color: #33cd5f;
    font-size: 16px;
}

.product-discount {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    text-align: center;
    background-color: #ff5400;
    color: #fff;
    bottom: 40px;
    left: 20px;
    font-size: 14px;
}