//
   Created by goer on 5/21/15.

ion-side-menus(enable-menu-with-back-views="true")

   ion-side-menu-content

      ion-nav-bar.bar-stable

         ion-nav-buttons(side="left")
            button(class="button button-icon button-clear ion-navicon" menu-toggle="left")